{% extends "base.html" %}
{% load blog_extras cache %}

{% block content %}
<h2>{{ post.title }}</h2>
<!-- <div class="row"> -->
{% row %}
    <!-- <div class="col"> -->
    {% col %}
        {% include "blog/post-byline.html" %}
    <!-- </div> -->
    {% endcol %}
<!-- </div> -->
{% endrow %}
{% row %}
    {% col %}
        {{ post.content|safe }}
    {% endcol %}
{% endrow %}
{% endrow %}

{% if post.author.profile %}
    {% row %}
        {% col %}
            <h4>About the author</h4>
            <p>{{ post.author.profile.bio }}</p>
        {% endcol %}
    {% endrow %}
{% endif %}

{% include "blog/post-comments.html" %}
<p>
{% row %}
    {% col %}
        {% cache 3600 recent_posts post %} <!-- one hour cache with name "recent_posts" -->
            {% recent_posts post %}
        {% endcache %}
    {% endcol %}
{% endrow %}

{% endblock %}
